header {
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    }

ul {
    list-style: none;
    }

h1 {
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    color: rgba(30,22,33,0.75);
    text-align: center;
    padding-top: 20px;
    }

body {
    background-color: #F2F2F2;
}

section {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    }

footer {
    text-align: right;
    font-size: 14px;
    color: gray;
    }

